nav {
    height: 120px;
    background-color: rgb(53, 181, 240);
  }
  .inline-block{display: inline-block;
    padding: 15px;
background-color: chartreuse;
color: rgb(5, 73, 70);
margin: 5px;
float: right;
}
.left{width: 30%;
    height: 100%;
    color: whitesmoke;
background-color: rgb(238, 137, 238);
background-size: 500px, 300px;
}
